*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header,main{
  max-width: 1570px;
}
/* Shared styles */

.display-flex{
  display: flex;
}
.text-black{
  color: black;
}
.text-lightgray{
  color: #8987A1;
}
.font-medium{
  font-weight: 500;
}
.bg-color{
  background-color: #F5F8FF;
}

.text-heading-color{
  color:#E95A08
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
}
.logo{
  margin-left: 150px;
  margin-top: 24px;
  
}
.logo img{
  height: 80px;
  width: 135px;
  display: block;
  object-fit: contain;
}
.nav-right{
  display: flex;
  align-items: center;
  gap: 45px;
  margin-right: 150px;
  margin-top: 53px;
}
.nav-links{
  gap: 40px;
  margin-right: ;
}
nav ul li{
  list-style: none;
}

nav ul a{
  text-decoration: none;
  font-weight: 500;
  

}

.cart-icon i{
  margin-right: 8px;
}

/* Banner styles */
.banner{
  
  justify-content: space-around;
  align-items: center;
}

.banner-content{
  margin-left: 150px;
  margin-top: 230px;
}
.banner-img{
  width: fit-content;
  margin-right: 150px;
  margin-top: 180px;
}
.banner-img img{
  width: 100%;
}
.banner-heading{
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 13px;
}
.banner-description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}

/* Plants section styles */
 .plants-container{
  margin-top: 120px;
 }

 .plant-title{
  font-weight: bold;
  font-size: 3.125rem;
  text-align: center;
 }
 .plant-description{
  font-size: 1.375rem ;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 16px;
 }

 .plants-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 49px;
  row-gap: 30px;
  column-gap: 30px;
  width: calc(100% - 300px);
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  
 }
 
 .plants-card img{
  width: 100%;
  height: auto;
  display: block;
 }

 .card-title{
  font-weight: 500;
  font-size: 1.375rem;
  margin-top: 15px;
 
  
 }
 .card-price{
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 15px;
  
 }
 .btn-primary{
  background-color: #E95A08;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 19px 80px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 15px;
 }

 .mobile-br-1, .mobile-br-2, .mobile-br-3{
  display: none;
 }
@media screen and (max-width:576px) {
  /* nav responsive */
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px; 
  }

  .logo {
    margin-left: 8px;
    margin-top: 12px;
  }

  .logo img {
    width: 63px;
    height: 38px;
  }

  .nav-right {
    margin: 0;
    gap: 8px;
    align-items: center;
  }

  .cart-icon {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 24px;
    margin-right: 4px;
  }

  /* banner responsive */
  .banner{
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 100%;
    margin: 0; 
    margin-top: 28px; 
  }

  .banner-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .banner-content {
    margin: 28px 16px 0 16px;
    text-align: left; 
  }

  .banner-heading{
    font-size: 1.5rem;
  }
  .banner-description{
    font-size: 14px;
  }

  /* Plants section responsive */
  .plant-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 65px;
  }
  
  .plant-description{
    font-size: 14px;
    margin-left: 28.5px;
    margin-right: 28.5px;
    
    
  }

  .plants-content{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 28px;
    width: calc(100% - 31px);
    margin-left: 14px;
    margin-right: 17px;
    box-sizing: border-box;
  }
  .plants-card{
    width: 100%;
  }
  .card-title{
    font-weight: 500;
    font-size: 1rem;
  }
  .card-price{
    font-weight: bold;
    font-size: 1rem;
  }

  .btn-primary{
    flex: 1 1 171px;
   min-width: 171px;
   height: 50px;
   font-weight: 600;
   font-size: 1rem;
   padding: 19px 30.5px;
  }
  .mobile-br-1, .mobile-br-2, .mobile-br-3{
  display: inline;
 }
 .mobile-br-12{
  display: none;
 }
}